body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1d262a;
}

.logo {
  margin-right: 10px;
}

.logo img {
  width: 230px;
}

h1 {
  color: #ccc;
  margin: 0;
}

.chat-container {
  display: flex;
  flex: 1;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-list {
  flex-basis: 200px;
  background-color: #1d262a;
  padding: 15px;
  border-right: 1px solid #64B5F6;
}

.chat-details {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  border: 1px solid #64B5F6;
  border-radius: 5px;
  background-color: #1e1e1e;
  padding: 5px;
  cursor: pointer;
}

.chat-name {
  color: #ccc;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.metadata{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message-count,
.date {
  color: #999;
  margin: 0;
  padding: 0 5px;
}

.chat-item:last-child {
  border-bottom: none;
}

.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  border-radius: 5px;
}

.incoming {
  background-color: #1e1e1e;
  align-self: flex-start;
  border: 1px solid #4a4c4d;
}

.user-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1e1e1e;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #1e1e1e;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #2196F3;
  color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.chat-1 p {
  color: #ccc;
}
